# Travis CI configuration file
# http://about.travis-ci.org/docs/

language: python

sudo: false

cache:
  pip: true
  directories:
    - lib

python:
  - "2.7"

install:
  - pip install -r requirements-dev.txt

script:
  - pep8 headphones
  - pyflakes headphones
  - nosetests

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then coveralls; fi
