beautifulsoup4==4.4.1
biplist==1.0.1
CherryPy==6.0.1
enum==0.4.6
gntp==1.0.3
html5lib==0.9999999
logutils==0.3.3
Mako==1.0.4
munkres==1.0.7
mutagen==1.32
oauth2==1.9.0.post1
ordereddict==1.1
PyNMA==1.0
pytz==2016.4
PyYAML==3.11
requests==2.10.0
Unidecode==0.4.19