APScheduler
beets
biplist
beautifulsoup4
cherrypy
configobj
enum
feedparser
gntp
html5lib
httplib2
logutils
mako
musicbrainzngs
MultipartPostHandler 
mutagen
munkres
oauth2
OrderedDict
git+https://github.com/cohena/pygazelle.git
pyopenssl
git+https://github.com/babs/pyrowl.git
python-twitter
pytz
requests
six
tzlocal
unidecode
pyaml