/* 
 * * * * * * * * *
 * Colors Styles *
 * * * * * * * * *
 * A great site to adjust the colors is:
 * http://gradients.glrzad.com/
 * Just copy the lines, and replace it in here.
 */
/* Main Header */
#header
{
	background-image: linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -o-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
}

#subhead_container{
	background-image: linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
}
/*Main menu current page*/

/*Tooltip Color*/
.tooltip
{
	background-image: linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -o-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
}
/*Tooltip popup Color*/
div#updatebar
{
	background: rgba(0,0,0,0.8);
}
.tooltip span
{
	background-image: linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -o-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	/*Font Color*/
	color: #000;
}
/*Tablehead color*/
table.display thead tr th 
{ 
	background-color: rgb(160,160,160);
}
table.display thead tr th:active
{ 
	background-color: rgb(210,210,210);
	text-decoration: none;
}

/*Top left search field*/
div#searchbar
{
}

/*
 * Scrollbar Colors 
 * */
 /* Scrollbar background */
.jspTrack
{
	background: rgba(160,160,160,0.3);
	border-left: 1px solid rgba(160,160,160,0.3);
}

.jspDrag:active,
.jspDrag:hover
{
	background: rgba(0,175,255,0.6);
}
.jspDrag
{
	background: rgb(0,175,255);
}
.jspArrowUp{
	background: url(../images/arrowUp.png) 50% 50% no-repeat rgb(130,130,130);
}
.jspArrowDown{
	background: url(../images/arrowDown.png) 50% 50% no-repeat rgb(130,130,130);
}