#attr $artistName = ""
#attr $artistUuid = ""
#attr $releaseGroups = []
#import os.path
#include os.path.abspath($appPath+"/data/interfaces/default/_inc_header.tmpl")
	Artist Name: $artistName <br />
	Unique ID: $artistUuid <br />
	<br />
	Albums:<br />
	#for $releaseGroup in $releaseGroups:
        $releaseGroup <br />
    #end for
#include os.path.abspath($appPath+"/data/interfaces/default/_inc_footer.tmpl")