#import os.path
#import config
#include os.path.abspath($appPath+"/data/interfaces/default/_inc_header.tmpl")
<center>
  	<div class="smalltext">
	  	<a href="#web_interface" >Web Interface</a> |
	  	<a href="#download" class="smalltext">Download Settings</a> |
	  	<a href="#providers" class="smalltext">Search Providers</a> |
	  	<a href="#post_processing" class="smalltext">Quality &amp; Post Processing</a>
	</div>
</center>
<div class="config">
    <form action="configUpdate" method="post">
    <a name="web_interface"><h1><u>Web Interface</u></h1></a>

    <table class="configtable" summary="Web Interface">
        <tr>
            <td>
              <p>
                HTTP Host: <br><br>
                <input type="text" name="http_host" value="${config.General['http_host']}" size="30" maxlength="40"><br>
                <i class="smalltext">i.e. localhost or 0.0.0.0</i>
              </p>
            </td>
            <td>
              <p>
                HTTP Username: <br><br>
                <input type="text" name="http_username" value="${config.General['http_username']}" size="30" maxlength="40">
              </p>
            </td>
        </tr>

        <tr>
            <td>
                <p>
                  HTTP Port: <br><br>
                  <input type="text" name="http_port" value="${config.General['http_port']}" size="20" maxlength="40">
                </p>
            </td>

            <td>
                <p>
                  HTTP Password: <br><br>
                  <input type="password" name="http_password" value="${config.General['http_password']}" size="30" maxlength="40">
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p>Launch Browser on Startup:<input type="checkbox" name="launch_browser" value="1" #if (config.General['launch_browser'] == '1') then "CHECKED" else ""#/></p>
            </td>
        </tr>
    </table>

    <a name="download"><h1><u>Download Settings</u></h1></a>

    <table class="configtable" summary="Download Settings">
        <tr>
            <td>
                <p>SABnzbd Host:</p><input type="text" name="sab_host" value="${config.SABnzbd['sab_host']}" size="30" maxlength="40"><br>

                <i class="smalltext">usually localhost:8080</i>
            </td>

            <td>
                <p>SABnzbd Username:</p><input type="text" name="sab_username" value="${config.SABnzbd['sab_username']}" size="20" maxlength="40">
            </td>
        </tr>

        <tr>
            <td>
                <br>

                <p>SABnzbd API:</p><input type="text" name="sab_apikey" value="${config.SABnzbd['sab_apikey']}" size="46" maxlength="40">
            </td>

            <td>
                <br>

                <p>SABnzbd Password:</p><input type="password" name="sab_password" value="${config.SABnzbd['sab_password']}" size="20" maxlength="40">
            </td>
        </tr>

        <tr>
            <td>
                <br>

                <p>SABnzbd Category:</p><input type="text" name="sab_category" value="${config.SABnzbd['sab_category']}" size="20" maxlength="40">
            </td>

            <td>
                <br>

                <p>Music Download Directory:</p><input type="text" name="music_download_dir" value="${config.General['music_download_dir']}" size="60" maxlength="40"><br>

                <i class="smalltext">Absolute or relative path to the dir where SAB downloads your music<br>
                i.e. Downloads/music or /Users/name/Downloads/music</i>
            </td>
        </tr>

        <tr>
            <td>
                <br>

                <p>Usenet Retention:</p><input type="text" name="usenet_retention" value="${config.General['usenet_retention']}" size="20" maxlength="40">
            </td>
        </tr>
    </table>

    <a name="providers"><h1><u>Search Providers</u></h1></a>

    <table class="configtable" summary="Search Providers">
        <tr>
            <td>
                <p>NZBMatrix: <input type="checkbox" name="nzbmatrix" value="1" #if (config.NZBMatrix['nzbmatrix'] == '1') then "checked" else ""#/></p>
            </td>

            <td>
                <p>
                  NZBMatrix Username: <br>
                  <input type="text" name="nzbmatrix_username" value="${config.NZBMatrix['nzbmatrix_username']}" size="30" maxlength="40">
                </p>
            </td>

            <td>
                <p>
                  NZBMatrix API: <br>
                  <input type="text" name="nzbmatrix_apikey" value="${config.NZBMatrix['nzbmatrix_apikey']}" size="46" maxlength="40">
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <br>

                <p>Newznab: <input type="checkbox" name="newznab" value="1" #if (config.Newznab['newznab'] == '1') then "checked" else ""# /></p>
            </td>

            <td>
                <br>

                <p>
                  Newznab Host:<br>
                  <input type="text" name="newznab_host" value="${config.Newznab['newznab_host']}" size="30" maxlength="40"><br>
                  <i class="smalltext">i.e. http://nzb.su</i>
                </p>
            </td>

            <td>
                <br>

                <p>
                  Newznab API:<br>
                  <input type="text" name="newznab_apikey" value="${config.Newznab['newznab_apikey']}" size="46" maxlength="40">
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <br>

                <p>NZBs.org:<input type="checkbox" name="nzbsorg" value="1" #if (config.NZBsorg['nzbsorg'] == '1') then "CHECKED" else ""# /></p>
            </td>

            <td>
                <br>

                <p>
                  NZBs.org UID:<br>
                  <input type="text" name="nzbsorg_uid" value="${config.NZBsorg['nzbsorg_uid']}" size="30" maxlength="40">
                </p>
            </td>

            <td>
                <br>

                <p>
                  NZBs.org Hash:<br>
                  <input type="text" name="nzbsorg_hash" value="${config.NZBsorg['nzbsorg_hash']}" size="46" maxlength="40">
                </p>
            </td>
        </tr>
    </table>

    <a name="post_processing"><h1><u>Quality &amp; Post Processing</u></h1></a>

    <table class="configtable" summary="Quality & Post Processing">
        <tr>
            <td>
                <p><b>Album Quality:</b></p>
                <input type="checkbox" name="include_lossless" value="1" #if (config.General['include_lossless'] == '1') then "CHECKED" else ""# />Include lossless <br>
                <input type="checkbox" name="flac_to_mp3" value="1" #if (config.General['flac_to_mp3'] == '1') then "CHECKED" else ""# />Convert lossless to mp3
            </td>

            <td>
                <p>
                  <p><b>iTunes:</b></p>
                  <input type="checkbox" name="move_to_itunes" value="1" #if (config.General['move_to_itunes'] == '1') then "CHECKED" else ""# />Move downloads to iTunes
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <br>

                <p><b>Path to iTunes folder</b>:<br><input type="text" name="path_to_itunes" value="${config.General['path_to_itunes']}" size="60" maxlength="40">
                  <br>
                  <i class="smalltext">i.e. Music/iTunes or /Users/name/Music/iTunes</i>
                </p>
            </td>
            <td>
                  <b>Renaming &amp; Metadata:</b>
                  <p>
                    <input type="checkbox" name="rename_mp3s" value="1" #if (config.General['rename_mp3s'] == '1') then "CHECKED" else ""# />Rename &amp; add metadata
                    <br>
                    <input type="checkbox" name="cleanup" value="1" #if (config.General['cleanup'] == '1') then "CHECKED" else ""# />Delete leftover files
                  </p>
            </td>
        </tr>

        <tr>
            <td>
                <br>
                <p><b>Album Art:</b></p>
                <input type="checkbox" name="add_album_art" value="1" #if (config.General['add_album_art'] == '1') then "CHECKED" else ""#>Add album art
            </td>
        </tr>
    </table>

    <p class="center"><input type="submit" value="Save Changes"><br>
    (For now, all changes require a restart to take effect)</p>
  </form>
</div>
#include os.path.abspath($appPath+"/data/interfaces/default/_inc_footer.tmpl")