#attr $path = ""
#import os.path
#include os.path.abspath($appPath+"/data/interfaces/default/_inc_header.tmpl")

<div class="config">
	<h1>Import or Sync Your iTunes Library/Music Folder</h1>
	<p>	Enter the full path to your iTunes XML file or music folder
		i.e. /Users/"username"/Music/iTunes/iTunes Music Library.xml
		<i>or</i> /Users/"username"/Music/iTunes/iTunes Media/Music
		(artists should have their own directories for folder import to work)
		<b>note: This process can take a LONG time!</b>
		Once you click "Submit" you can navigate away from this
		page while the process runs. </p>
		<form action="importItunes" method="GET" align="center">
			<input type="text" value="${path}" onfocus="if
			(this.value==this.defaultValue) this.value='';" name="path" size="70" />
			<input type="submit" />
		</form>
</div>
<div class="table">
	<div class="config">
		<h1>Force Search</h1>
		<a href="forceSearch">Force Check for Wanted Albums</a><br />
		<a href="forceUpdate">Force Update Active Artists </a><br />
	</div>
</div>

#include os.path.abspath($appPath+"/data/interfaces/default/_inc_footer.tmpl")