#import os.path
#include os.path.abspath($appPath+"/data/interfaces/default/_inc_header.tmpl")
<div id="search" style="float:left;">
	<table border="0" cellpadding="3">
		<form name="search">
		<tr>
			<td><label for="artist">Artist</label></td>
			<td><input type="textbox" id="artist" /></td>
		</tr>
		<tr>
			<td><label for="artist">Release</label></td>
			<td><input type="textbox" id="artist" /></td>
		</tr>
		<tr>
			<td><label for="artist">Label</label></td>
			<td><input type="textbox" id="artist" /></td>
		</tr>
		<tr>
			<td></td>
			<td align="right"><input type="submit" value="search" onclick="$.getJSON"/></td>
		</tr>
		</form>
	</table>
	</div>
<div id="results" style="float:left;">
	<b>Results:</b>
	<ul id="resultsList">
	<ul>
</div>
<p style="clear:both;"></p>
#include os.path.abspath($appPath+"/data/interfaces/default/_inc_footer.tmpl")