body {
	background-color: #313131;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	overflow: hidden;
	color: rgb(160,160,160);
	font-size: 100%;
}
/*
 *	Univarsal 
 * */

 .clear{
	clear:both;
 }
 
 /*Removes outline in Chrome*/
 *:focus{
	outline: none;
 }
 
 /*
  *	Links Styles 
  * */
a:link {
	color: rgb(200,200,200);
  	text-decoration: none; 
  	}
a:visited {
  	color: rgb(200,200,200);
	text-decoration: none; 
	}
a:hover { /*this effect is not shown in NN4.xx*/
  	color: rgb(255,255,255); 
	text-decoration: none;
  	}
a:active {/*colour in NN4.xx is red*/ 
  	color: rgb(200,200,200);
  	text-decoration: none; 
}
#container { width: 100%; margin: auto; }

h1
 { 
	font-size: 16px; 
	padding: 5px 0px 5px 10px; 
	color: rgb(0,140,255);
	text-decoration: none;
	border-bottom: 2px solid rgb(0,140,255);
	margin: 0;
}
h2 { font-size: 1.4em; color: rgb(255,255,255); text-shadow: -1px -1px 0px rgb(10,10,10); margin-bottom: 0px; text-decoration: none; padding: 0px;}
h3 { font-size: 1.1em; font-weight: normal; color: rgb(120,120,120); text-shadow: 1px 1px 0px rgba(0,0,0,0.2); }
h4 { padding: 10px; font-size: 0.8em; color: rgba(0,0,0,0.6); text-shadow: 1px 1px 0px rgba(255,255,255,0.1); text-decoration: none; max-width: 20em;}
h4:hover {
	display:block;
	background: rgb(219,219,140);
	box-shadow: 1px 1px 1px rgb(219,219,140);
}

p { color: rgb(160,160,160); text-shadow: 1px 1px 1px #000;  margin-top: 8px; margin-bottom: 8px; }

p.indented { margin-top: 20px; margin-bottom: 20px; margin-left: 10px; font-size: 12px; }
p.center { text-align: center; font-size: 12px; }
.smalltext2 { font-size: 12px; margin-left: 45px; }

/*#table_body*/
#table_body{
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}
/*#header*/
#header 
{ 
	/*ColorStyles.css*/
	height: 35px; 
	box-shadow: 1px 1px 2px #000;
}

div#logo 
{ 
	padding-left: 5px;
	width: 195px;
	height: 30px; 
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: rgb(0,0,0);
	line-height: 35px;
	float: left;
}
div#logo a
{
	color: rgb(0,0,0);
}
div#logo a:hover 
{
	text-decoration: none;
}

div#logo img
{
	height: 35px;
	float: left;
	margin-right: 10px;
}

/*Page Dialog*/
span.pageDialog
{
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
	display: block;
	color: rgba(0,0,0,0.9);
	text-shadow: rbga(255,255,255,0.5);
	box-shadow: 0px 0px 3px rgb(222,213,118);
	border-radius: 3px;
	background-image: linear-gradient(bottom, rgb(222,213,118) 0%, rgb(255,245,140) 100%);
	background-image: -o-linear-gradient(bottom, rgb(222,213,118) 0%, rgb(255,245,140) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(222,213,118) 0%, rgb(255,245,140) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(222,213,118) 0%, rgb(255,245,140) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(222,213,118) 0%, rgb(255,245,140) 100%);
}
/*Update Dialog*/
div.btnClose:after
{
	content: "X";
}
div.btnClose 
{
    overflow: hidden;
    border-radius: 20px;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    width: 13px;
    height: 13px;
    line-height: 13px;
    position: relative;
    top: -13px;
    right: -13px;
    float: right;
    border: 1px solid #000;
    box-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
    font-weight: bold;
    font-size: 9px;
	text-align: center;
}

div.custom_container   /*Makes use of noty*/
{
    width: 320px;
    position: fixed; 
    bottom: 25px; 
    right: 25px; 
    z-index: 999999;
}

/*Main Menu*/
#nav-container{
	vertical-align: top;
	border-right: 1px solid #000;
	width: 200px;
	background-color: rgba(255,255,255,0.3);
}
ul#nav 
{ 
	list-style-type: none; 
	width: 200px; 
	padding: 0; 
	margin: 0;
	background-color: rgb(200,200,200);
}

ul#nav li  
{
    display: block; 
    width: 100%; 
    padding: 0; 
    margin: 0;
	border-bottom: 1px solid rgb(90,90,90);
	border-top: 1px solid rgba(255,255,255,0.8);
	
}
ul#nav li:hover { 
    display: block; 
    background: rgba(0,0,0,0.2);
	background-image: linear-gradient(bottom, rgb(195,195,195) 0%, rgb(210,210,210) 100%);
	background-image: -o-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(210,210,210) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(210,210,210) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(210,210,210) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(210,210,210) 100%);
}

#nav li.selected,
#nav li:hover.selected
{
	background-image: linear-gradient(bottom, rgb(0,145,255) 0%, rgb(97,189,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,145,255) 0%, rgb(97,189,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,145,255) 0%, rgb(97,189,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,145,255) 0%, rgb(97,189,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,145,255) 0%, rgb(97,189,255) 100%);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgb(200,237,255);
}

ul#nav li a 
{ 
	line-height: 35px; 
	padding-left: 40px; 
	font-size: 1em; 
	color: rgb(120,120,120); 
	text-decoration: none; 
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}
ul#nav li.selected a,
ul#nav li.selected a:hover{color: #fff;}
ul#nav li a:hover { color: rgba(0,0,0,0.7); }

/*
 * Menu background images
 */
ul#nav li a[href="home"]
{
	background: url(../images/home.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
}
ul#nav li a[href="upcoming"]
{
	background: url(../images/upcoming.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
}

ul#nav li a[href="extras"]
{
	background: url(../images/suggestions.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
}

ul#nav li a[href="manage"]
{
	background: url(../images/manage.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
}

ul#nav li a[href="history"]
{
	background: url(../images/history.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
}

ul#nav li a[href="logs"]
{
	background: url(../images/logs.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
}

ul#nav li a[href="config"]
{
	background: url(../images/settings.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
}

/*Subhead menu*/
div#subhead_container 
{
	height: 35px;
	float: left;
}

ul#subhead_menu 
{ 
height: 35px;
list-style: none;
padding: 0px;
margin: 0px;
}

ul#subhead_menu li 
{ 
float: left;
line-height: 35px;
border-left: 1px solid rgb(45,45,45);
border-right: 1px solid rgb(15,15,15);
display: inline;
text-align: center;
}

ul#subhead_menu li:hover 
{ 
background-image: linear-gradient(bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);
background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);
background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);
border-right: 1px solid rgb(45,45,45);
border-left: 1px solid rgb(15,15,15);
}

ul#subhead_menu li a 
{ 
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    line-height: 35px; 
    color: rgb(0,0,0);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
    font-size: 0.7em; 
    font-weight: bold;
    text-decoration: none;
}

ul#subhead_menu li a:hover 
{
	color: rgb(255,255,255);
	font-weight: bold;
}

/* Searchbar Styles */
div#searchbar 
{ 
	border: 0px;
	float: right;
}

#content-container{
	overflow: hidden;
}

div#main {
	overflow: hidden;
	height: 100%;
}

/*buttons*/
.btnStatus
{
    background: rgb(30,170,140);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    color: #000;
	font-size: 0.9em;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	float: left;
	padding: 3px 6px 3px 6px;
}
#status.btnStatus:hover {
	text-decoration: none;
}

#status a
{
    color: #000;
    display: block;
}

.btnDownloaded ,
.btnWanted,
.btnSkipped {
background-image: linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
background-image: -o-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
background-image: -moz-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
background-image: -ms-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
text-shadow: 1px 1px 0px rgb(180,180,180);
}

.btnAbort {
background-image: linear-gradient(bottom, rgb(128,0,0) 0%, rgb(153,0,0) 100%);
background-image: -o-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(153,0,0) 100%);
background-image: -moz-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(153,0,0) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(153,0,0) 100%);
background-image: -ms-linear-gradient(bottom, rgb(128,0,0) 0%, rgb(153,0,0) 100%);
text-shadow: 1px 1px 0px rgb(190,0,31);
}
.btnGet {
	background: url(../images/download.png) 5% 50% no-repeat rgb(128,26,0);
	padding-left: 22px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
}
.btnGet:hover
{
	background: url(../images/download.png) 5% 50% no-repeat rgb(148,26,0);
}
.btnAdd
{
	background: url(../images/add.png) 50% 50% no-repeat;
	height: 18px;
	width: 18px;
	display: block;
	float: left;
}
.btnAdd:hover
{
	background: url(../images/add-hover.png) 50% 50% no-repeat;
}

.btnNew
{
    background-image: linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	text-shadow: 1px 1px 0px rgb(87,170,0);
}
.btnRetry {
	background-image: linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(51,128,0) 0%, rgb(87,153,0) 100%);
	text-shadow: 1px 1px 0px rgb(87,160,0);
}
#btnBack 
{
	position: static;
    background-image: linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
	background-image: -o-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%); 
	background-image: -ms-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
	text-shadow: 1px 1px 0px rgb(180,180,180);
	color: #000;
	margin-left: 20px;
	margin-top: 20px;
}
/*end buttons*/
.table_wrapper { 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	width: 100%; 
	background-color: #313131; 
	min-height: 50px; 
	clear: both; 
	_height: 302px; 
	zoom: 1; 
}

/*Tooltip*/
div.tooltip
{
	/*ColorStyles.css*/
	position: relative;
    color: #000;
    border-radius: 0px .2em .2em 0px;
    border-left: 1px solid #808080;
    height: 1.8em;
    width: 1em;
    font-weight: bold;
	font-size: .9em;
    text-align: center;
    line-height: 2.0em;
    cursor: help;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
	font-family: Courier;
	display: inline-block;
	margin-left: -24px;
	padding: 0px;
}
div.tooltip:after {
	content: "?";
}
/*Tooltip info*/
div.tooltip span 
{
	line-height: 1em;
	font-style: italic;
	font-size: 1em;
	font-weight: normal;
    color: #000;
	border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #000;
    display: none;
	position: absolute;
    z-index: 999;
    top: 0px;
    left: 20px;
    text-align: left;
    padding: 5px;
    width: 25em;
}
div.tooltip:hover span 
{
	display: block;
	
}
span.info{
	display: inline-block;
	background: rgb(219,219,140);
	box-shadow: 0px 0px 3px #000;
	padding: 2px;
	font-size: 0.8em;
	border-radius: 3px;
}
/*end Tooltip*/
/*Inputs & Select*/
input, textarea, select, option {
   -webkit-appearance: none;
   -webkit-border-radius: 0.2em;
   -webkit-box-shadow: 1px 1px 0px rgba(255,255,255,0.1);
   padding-left: 10px;
   padding-right: 10px;
   line-height: 1.3em;
   font-size: .9em;
   color: rgba(255,255,255,0.6);
   height: 1.8em;
}

input, textarea{
   border: 1px solid rgba(0,0,0,0.6);
   background: #000;
   background: rgb(19,19,19); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(19,19,19,1) 0%, rgba(43,43,43,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(99%,rgba(43,43,43,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(43,43,43,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(43,43,43,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(43,43,43,1) 99%); /* IE10+ */
	background: linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(43,43,43,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}

select, 
input[type="button"], 
input[type="submit"]{
	background-color: #000;
	border: 1px solid rgb(0,0,0);
	-webkit-box-shadow: 1px 1px 0px rgba(255,255,255,0.1);
	-webkit-border-radius: 0.2em;
	height: 28px;
	padding-left: 5px;
	padding-right: 5px;
	background: rgb(69,72,77); /* Old browsers */
	background-image: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background-image: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
select{
	padding-right: 20px;
	background: url(../images/arrow-down.png) #444, rgb(69,72,77); /* Old browsers */
	background: url(../images/arrow-down.png) #444 right center no-repeat, -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: url(../images/arrow-down.png) #444 right center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: url(../images/arrow-down.png) #444 right center no-repeat, -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/arrow-down.png) #444 right center no-repeat,  -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: url(../images/arrow-down.png) #444 right center no-repeat, -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: url(../images/arrow-down.png) #444 right center no-repeat, 	 linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
}
select option{
	background: rgb(31,31,31);
	line-height: 1.8em;
}
select option:hover{
	background-: rgb(255,255,255);
	color: #000;
}

input[type=checkbox],
input[type=radio] {
   display: inline-block;
   font-size: 15px;
   line-height: 1em;
   margin: 0 0.25em 0 0;
   padding: 0;
   width: 1.25em;
   height: 1.25em;
   vertical-align: text-top;
}

input[type=radio] {
    -webkit-border-radius: 2em; /* Make radios round */
}

input[type="radio"]:checked {
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,145,255,1) 0%, rgba(30,87,153,1) 40%, rgba(0,0,0,1) 41%, rgba(31,31,31,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,145,255,1)), color-stop(40%,rgba(30,87,153,1)), color-stop(41%,rgba(0,0,0,1)), color-stop(100%,rgba(31,31,31,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,145,255,1) 0%,rgba(30,87,153,1) 40%,rgba(0,0,0,1) 41%,rgba(31,31,31,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,145,255,1) 0%,rgba(30,87,153,1) 40%,rgba(0,0,0,1) 41%,rgba(31,31,31,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,145,255,1) 0%,rgba(30,87,153,1) 40%,rgba(0,0,0,1) 41%,rgba(31,31,31,0) 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  rgba(0,145,255,1) 0%,rgba(30,87,153,1) 40%,rgba(0,0,0,1) 41%,rgba(31,31,31,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091ff', endColorstr='#001f1f1f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

input[type="checkbox"]:checked{
   background: rgb(0,145,255) no-repeat center center;
   -webkit-background-size: 28px 28px; /* shrink high resolution background */
}
input[type="checkbox"]:checked:after{
	content: "x";
	color: rgb(30,30,30);
	font-family: Verdana;
	font-weight: bold;
	font-size: .9em;
	text-shadow: 1px 1px 0px rgb(255,255,255,0.3);
	margin-left: 4px;
	line-height: 0.1em;
}

input:hover,
textarea:hover,
select:hover{
	box-shadow: 0px 0px 3px rgb(0,145,255);
}

input:focus, 
textarea:focus,
select:focus { 
	box-shadow: 0px 0px 6px rgb(0,145,255);
}

/*End Inputs & Select*/

.manage_wrapper { width: 88%; margin: 20px auto 0 auto; padding: 25px; min-height: 150px; clear: both; _height: 302px; zoom: 1; }

/*Config*/
#config fieldset { border-color: rgba(0,0,0,0.2); background-color: rgba(0,0,0,0.1);}
#config fieldset legend { 
	border-bottom: 2px solid rgba(0,140,255,0.9);
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(120,120,120);
}
#config fieldset dl dt {  }
#config fieldset dl dd { margin-top: 10px; margin-bottom: 10px; }

/* Artist Table Style*/
table#artist_table { width: 100%;}

table#artist_table th#select { text-align: left; }
table#artist_table th#name { text-align: left; min-width: 150px; }
table#artist_table th#status { text-align: left; min-width: 40px; }
table#artist_table th#album { text-align: left; min-width: 100px; }
table#artist_table th#have { text-align: center; min-width: 50px; }
table#artist_table tr { border-top: 1px solid rgba(255,255,255,0.2);border-bottom: 1px solid rgba(0,0,0,0.2); }
table#artist_table td#name { vertical-align: middle; text-align: left; }
table#artist_table td#status { vertical-align: middle; text-align: left; color: rgba(0,0,0,0.4)}
table#artist_table td#album { vertical-align: middle; text-align: left; }
table#artist_table td#have { vertical-align: middle; }

#artist_table div { color: #000; text-shadow: 1px 1px rgb(100,100,100); font-size: 12px; font-weight: bold; }


table#album_table { width: 100%; }
/* Album Tableheader*/
table#album_table th#select { vertical-align: middle; text-align: left; width: 25px; }
table#album_table th#albumart {vertical-align: middle; text-align: left; width: 70px; }
table#album_table th#albumname {vertical-align: middle; text-align: left; min-width: 150px; }
table#album_table th#reldate {vertical-align: middle; width: 175px; text-align: left; min-width: 70px; }
table#album_table th#status {vertical-align: middle; width: 175px; text-align: left; min-width: 80px; }
table#album_table th#type {vertical-align: middle; width: 175px; text-align: left; min-width: 60px; max-width: 100px; }
table#album_table th#bitrate {vertical-align: middle; text-align: left; min-width: 60px; }
/* Album tabledata */
table#album_table tr { border-top: 1px solid rgba(255,255,255,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); }
table#album_table td#select { vertical-align: middle; text-align: left; }
table#album_table td#albumart { vertical-align: middle; text-align: left; }

/* Album art image sizes */
.album-art-small 
{
	width: 60px;
	height: 60px;
	margin: 3px;
	float: left;
	overflow: hidden; 
	background: rgb(30,30,30);
	border: 1px solid rgb(10,10,10);
	box-shadow: 1px 1px 0px rgba(255,255,255,0.2); 
	border-radius: 2px; 
}
.album-art-small img { width: 60px; height: 60px; z-index: 200; }
.album-art-big 
{ 
	background: url(../images/box-big.png) no-repeat top left; 
	float: left; 
	height: 200px; 
	margin-left: 20px;
	margin-top. 20px;
	padding-top:5px; 
	padding-left: 27px; 
	padding-bottom: 5px; 
	padding-right: 110px; 
	position: relative; 
	width: 200px; 
	z-index: 200;
}
.album-art-cd 
{ 
	background: url(../images/cd-big.png); 
	width: 191px;
	height: 191px;
	position: absolute;
	top: 9px;
	right: 20px;
	z-index: 1;
}
.album-art-big img { width: 200px; height: 200px; position: absolute; z-index: 2; } 	

#album-describtion { float: left; width: 400px; min-height: 200px; margin-left: 20px; }
table#album_table td#albumname { vertical-align: middle; text-align: left; }
table#album_table td#reldate { vertical-align: middle; text-align: left; }
table#album_table td#status { vertical-align: middle; text-align: left; }
table#album_table td#type { vertical-align: middle; text-align: left; }
table#album_table td#have { vertical-align: middle; }
table#album_table td#bitrate { vertical-align: middle; text-align: left; }

div#albumheader { margin: 20px 0px 40px 0px; min-height: 200px; }

/*
    Track
*/
div#track_wrapper { font-size: 12px; width: 100%; clear:both;  }
table#track_table { margin-top: 20px; width: 100%; }
table#track_table td { padding: 3px 10px 3px 10px; }
table#track_table th#number { text-align: left; width: 30px; padding-left: 4px; }
table#track_table th#name { text-align:left ; min-width: 160px; }
table#track_table th#duration { text-align: left; width: 90px; }
table#track_table th#location { text-align: left; min-width: 180px; }
table#track_table th#bitrate { text-align: left; min-width: 75px; }

table#track_table td#number { vertical-align: middle; text-align: left; font-size: 12px; overflow: hidden; }
table#track_table td#name { vertical-align: middle; text-align: left; font-size: 12px; overflow: hidden; }
table#track_table td#duration { vertical-align: middle; text-align: left; font-size: 12px; overflow: hidden; }
table#track_table td#location { vertical-align: middle; text-align: left; font-size: 12px; overflow: hidden; }
table#track_table td#bitrate { vertical-align: middle; text-align: left; font-size: 12px; overflow: hidden; }
table#history_table { width: 100%; font-size: 12px; }

/* History table*/

table#history_table td#dateadded { vertical-align: middle; text-align: left; min-width: 150px; font-size: 14px; }
table#history_table td#filename { vertical-align: middle; text-align: left; min-width: 100px; font-size: 15px; }
table#history_table td#size { vertical-align: middle; text-align: left; min-width: 75px; font-size: 14px; }
table#history_table td#status { vertical-align: middle; text-align: left; font-size: 14px; }
table#history_table td#action { vertical-align: middle; text-align: left; font-size: 14px; }

/*
    Log
*/
table#log_table { width: 100%; }
table#log_table td { padding: 3px 5px 3px 10px; }

table#log_table th#timestamp { text-align: left; min-width: 150px; }
table#log_table th#level { text-align: left; min-width: 60px; }
table#log_table th#message { text-align: left; min-width: 500px; }
/*
    Upcoming
*/
/*Upcoming Tablehead*/
table#upcoming_table {width: 100%;}
table#upcoming_table th#albumart { text-align: left; min-width: 20%; }
table#upcoming_table th#albumname { text-align: left; min-width: 200px; }
table#upcoming_table th#artistname { text-align: left; min-width: 150px; }
table#upcoming_table th#reldate { text-align: left; min-width: 100px; }
table#upcoming_table th#type { text-align: left; min-width: 75px; }

/*Upcoming Tabledata*/
table#upcoming_table td#select { vertical-align: middle; text-align: left; }
table#upcoming_table td#albumart { vertical-align: middle; text-align: left; min-width: 50px; }
table#upcoming_table td#albumname { vertical-align: middle; text-align: left; min-width: 200px; }
table#upcoming_table td#artistname { vertical-align: middle; text-align: left; min-width: 150px; }
table#upcoming_table td#reldate { vertical-align: middle; text-align: left; min-width: 100px; }
table#upcoming_table td#type { vertical-align: middle; text-align: left; min-width: 75px; }
table#upcoming_table td#status { vertical-align: middle; text-align: left; }

/*Wanted Tablehead*/
table#wanted_table { width: 100%; }
table#wanted_table th#albumart { text-align: left; min-width: 50px; }
table#wanted_table th#albumname { text-align: left; min-width: 200px; }
table#wanted_table th#artistname { text-align: left; min-width: 150px; }
table#wanted_table th#reldate { text-align: left; min-width: 100px; }
table#wanted_table th#type { text-align: left; min-width: 75px; }

/*Wanted Tabledata*/
table#wanted_table td#select { vertical-align: middle; text-align: left; }
table#wanted_table td#albumart { vertical-align: middle; text-align: left; min-width: 50px; }
table#wanted_table td#albumname { vertical-align: middle; text-align: left; min-width: 200px; }
table#wanted_table td#artistname { vertical-align: middle; text-align: left; min-width: 150px; }
table#wanted_table td#reldate { vertical-align: middle; text-align: left; min-width: 100px; }
table#wanted_table td#type { vertical-align: middle; text-align: left; min-width: 75px; }
table#wanted_table td#status { vertical-align: middle; text-align: left; }

/*Search Results Tablehead*/
table#searchresults_table { width: 100%; }
table#searchresults_table th#albumname { text-align: left; min-width: 225px; }
table#searchresults_table th#artistname { text-align: left; min-width: 325px; }
table#searchresults_table th#score { text-align: left; min-width: 75px; }

table#searchresults_table td#albumname { vertical-align: middle; text-align: left; min-width: 200px; }
table#searchresults_table td#artistname { vertical-align: middle; text-align: left; min-width: 300px; }
table#searchresults_table td#score { vertical-align: middle; text-align: left; min-width: 75px; }

/*progress container*/

div.progress-container span 
{
    float: left;
    margin: auto;
}
div.progress-container span:hover
{
	color: #67b3ea;
}
div.progress-container  
{
    width: 100%; 
    height: 15px; 
    margin: 2px 5px 2px 0px; 
    overflow: hidden;
    text-align: center;
    color: rgb(30,30,30); 
    background: rgb(30,30,30);
	border: 1px solid rgb(10,10,10);
	box-shadow: 1px 1px 0px rgba(255,255,255,0.2); 
	border-radius: 2px; 
}
/*Progress bar*/
div.progress-container div  
{
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}

/*text format for match/procent*/
.searchmatch,
.havetracks
{ 
    display: block;
    float: left;
    width: 100%;
    font-size: 12px;
    position: relative;
    text-align: center; 
    color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
}


#footer /*#footer*/
{
	/*ColorStyles.css*/
	height: 30px;
	border-collapse: collapse;
}

/*Footer manage/settings*/
div#options
{
	height: 30px;
	padding-top: 2px;
	margin-left: 5px;
}
div#options ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	position: relative;
}
div#options ul ul
{
	display: none;
	width: 160px;
	background: rgb(160,160,160);
}
div#options ul li
{
	display: block;
	height: 24px;
	border: 1px solid rgb(0,0,0);
	border-radius: 3px;
	float: left;
	padding-left: 10px;
	padding-right: 20px;
	line-height: 25px;
	background: rgb(160,160,160) url(../images/arrow-down.png) center right no-repeat;
	margin-right: 5px;
	color: #000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
	font-weight: bold;
	font-size: 12px;
}

div#options ul li:hover ul
{
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border: 1px solid #000;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 0px 3px #000;
	background: rgb(30,30,30);
	padding: 2px;
	
}
div#options ul ul li
{
	float: none;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
div#options ul ul li a
{
	display: block;
	color: #fff;
	padding-left: 15px;
	padding-right: 5px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.0);
	
}
div#options ul ul li a:hover
{
	background: rgb(255,255,255);
	display: block;
	color: #000;
}

div#version { text-align: center; font-weight: bold; }
div#donate { text-align: center; margin: 20px auto 20px auto; }

/*	Shutdown
 * */

div#shutdown
{ 
	position: fixed; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.9);
	z-index: 999;
}
div#shutdown div
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
}
div#shutdown div div
{
	text-align: center;
	position: relative;
	float: left;
	left: -150px;
	top: -100px;
	width: 300px;
	height: 200px;
}


.cloudtag { padding-top: 30px; font-size:16px; }
#cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
#cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
#cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
#cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
#cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
#cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
#cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
#cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
#cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
#cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

#cloud { padding: 2px; line-height: 1.5em; text-align: center; }
#cloud a { padding: 0px; }
#cloud { margin: 0; }
#cloud li { display: inline; }

/********************************
 *	Data_tables.css moved here  *
 ********************************/

table.display {
	border-collapse: collapse;
}

table.display thead tr th 
{
	cursor: pointer;
	* cursor: hand;
	padding-left: 8px;
	border: 1px solid #000;
	color: #000;
	text-shadow: 1px 1px rgba(255,255,255,0.2);
	height: 20px;
	overflow: hidden;
	font-size: 12px;
}

table.display tbody tr:hover td{
	background-color: rgb(10,60,90);
}

table.display td 
{
	padding: 0px 0px 0px 15px;
	font-size: 12px;
}

table.display tfoot th 
{
	padding: 3px 18px 3px 15px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td 
{
	border-bottom: 1px solid #aaa;
}

table.display td.center 
{
	text-align: center;
}

/*Sorting*/
.sorting_asc {
	background: url(../images/sort_asc.png) no-repeat center right rgb(160,160,160);
}

.sorting_desc {
	background: url(../images/sort_desc.png) no-repeat center right rgb(160,160,160);
}

.sorting {
	background: url(../images/sort_both.png) no-repeat center right rgb(160,160,160);
}

.sorting_asc_disabled {
	background: url(../images/sort_asc_disabled.png) no-repeat center right rgb(160,160,160);
}

.sorting_desc_disabled {
	background: url(../images/sort_desc_disabled.png) no-repeat center right rgb(160,160,160);
}

/*
 * Grades 
 * */

table.display tr.odd.gradeA {
	background-color: #546B00;
}

table.display tr.even.gradeA {
	background-color: #445014;
}



/*Wanted*/
table.display tr.odd.gradeC {
	background-color: #7A51A5;
}

table.display tr.even.gradeC {
	background-color: #6A33A5;
}

/*
 * GradeSkipped 
 * */
table.display tr.odd.gradeX {
	background-color: #4F0043;
}

table.display tr.even.gradeX {
	background-color: #3B0F34;
}

table.display tr.odd.gradeU {
	background-color: #28064C;
}

table.display tr.even.gradeU {
	background-color: #241239;
}

/*Skipped*/
table.display tr.odd.gradeZ {
	background-color: #373737;
}

table.display tr.even.gradeZ {
	background-color: #313131;
}

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}
.dataTables_mark{
	margin-left: 20px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	color: #575757;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	background-color: #343434; 
	height: 50px;
	width: 90%;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #000;
	color: #000;
	font-weight: bold;
	padding: 3px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	border-radius: 3px;
	text-shadow: rgb(255,255,255);
}

.paging_full_numbers span.paginate_button {
	background-image: linear-gradient(bottom, rgb(82,0,0) 0%, rgb(117,0,10) 100%);
	background-image: -o-linear-gradient(bottom, rgb(82,0,0) 0%, rgb(117,0,10) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(82,0,0) 0%, rgb(117,0,10) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(82,0,0) 0%, rgb(117,0,10) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(82,0,0) 0%, rgb(117,0,10) 100%);
	border-bottom: 1px solid #000; 
}

.paging_full_numbers span.paginate_button:hover {
	background-image: linear-gradient(bottom, rgb(117,0,10) 0%, rgb(82,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(117,0,10) 0%, rgb(82,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(117,0,10) 0%, rgb(82,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(117,0,10) 0%, rgb(82,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(117,0,10) 0%, rgb(82,0,0) 100%);
	border-bottom: 1px solid #000; 
	color: #fff;
}

.paging_full_numbers span.paginate_active {
	background-color: #800000;
	color: #fff;
}

table.display tr.even.row_selected td {
	background-color: #660000;
	color: #fff;
}

table.display tr.odd.row_selected td {
	background-color: #4d0000;
	color: #fff;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}