/* 
 * * * * * * * * *
 * Colors Styles *
 * * * * * * * * *
 * A great site to adjust the colors is:
 * http://gradients.glrzad.com/
 * Just copy the lines, and replace it in here.
 */
/* Main Header */
#header
{
	background-image: linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -o-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(245,245,245) 100%);
}

#subhead_container{
	background-image: linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%);
}

#footer {
	background-image: linear-gradient(bottom, rgb(82,82,82) 0%, rgb(117,117,117) 100%);
	background-image: -o-linear-gradient(bottom, rgb(82,82,82) 0%, rgb(117,117,117) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(82,82,82) 0%, rgb(117,117,117) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(82,82,82) 0%, rgb(117,117,117) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(82,82,82) 0%, rgb(117,117,117) 100%);
}
/*Main menu current page*/
#nav li.selected,
#nav li.selected:hover 
{
	background-image: linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -o-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

/*Tooltip Color*/
.tooltip
{
	background-image: linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -o-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(117,117,117) 0%, rgb(156,156,156) 100%);
}
/*Tooltip popup Color*/
div#updatebar
{
	background: rgba(0,0,0,0.8);
}
.tooltip span
{
	background-image: linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -o-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(219,219,140) 0%, rgb(240,240,178) 100%);
	/*Font Color*/
	color: #000;
}
/*Tablehead color*/
h1,
table.display thead tr th 
{ 
	background-color: rgb(160,160,160);
}
h1:active,
table.display thead tr th:active
{ 
	background-color: rgb(210,210,210);
	text-decoration: none;
}

/*Top left search field*/
div#searchbar
{
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 1px 1px 0px rgba(255,255,255,0.8);
	background: rgba(0,0,0,0.8);
}

/*
 * Scrollbar Colors 
 * */
 /* Scrollbar background */
.jspTrack
{
	background-image: linear-gradient(left , rgb(10,10,10) 0%, rgb(30,30,30) 100%);
	background-image: -o-linear-gradient(left , rgb(10,10,10) 0%, rgb(30,30,30) 100%);
	background-image: -moz-linear-gradient(left , rgb(10,10,10) 0%, rgb(30,30,30) 100%);
	background-image: -webkit-linear-gradient(left , rgb(10,10,10) 0%, rgb(30,30,30) 100%);
	background-image: -ms-linear-gradient(left , rgb(10,10,10) 0%, rgb(30,30,30) 100%);
}

.jspDrag:active,
.jspDrag:hover
{
	background: url(../images/scrollGrib.png) 50% 50% no-repeat rgb(160,160,160);
}
.jspDrag
{
	background: url(../images/scrollGrib.png) 50% 50% no-repeat rgb(130,130,130);
}
.jspArrowUp{
	background: url(../images/arrowUp.png) 50% 50% no-repeat rgb(130,130,130);
}
.jspArrowDown{
	background: url(../images/arrowDown.png) 50% 50% no-repeat rgb(130,130,130);
}